body {
  font-family: "Times New Roman", Times;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  height: 85px;
  display: flex;
  background-color: #080808;
  padding: 10px 0;
  box-shadow: 0 -8px 26px #ff9800;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 150px;
}

.nav_links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.nav_links a:hover {
  color: #ff9800;
}

#home {
  margin-left: 16px;
  padding-right: 25%;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

td {
  text-align: left;
}

footer {
  background-color: #080808;
  padding: 15px 0;
  color: #ccc;
  text-align: center;
  font-size: 1em;
}

footer img {
  width: 100px;
  height: 100px;
}

footer p {
  margin: 5px 0;
  font-size: 0.9em;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: #ff9800;
}

footer .social-icons {
  margin: 10px 0;
}

footer .social-icons a {
  margin: 0 10px;
  font-size: 1.3em;
}

footer .copyright {
  color: #777;
  font-size: 0.8em;
  margin-top: 10px;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-item {
  text-align: center;
  flex: 1;
}

.sketchfab-embed-wrapper {
  margin: 20px 0;
}

.sketchfab-embed-wrapper iframe {
  width: 728px;
  height: 410px;
  border: none;
}

.spec-table td {
  vertical-align: top;
}
