body {
  font-family: "Times New Roman", Times;
  text-align: center;
}

header {
  height: 85px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #000;
  box-shadow: 0 -8px 26px #ff9800;
  padding: 0 20px;
  margin: -8px -8px 0 -8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
}

.logo_content {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ff9800;
}

.logo_content h1 {
  font-size: 30px;
  padding-right: 475px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ul {
  display: flex;
  gap: 100px;
  list-style-type: none;
}

ul li {
  display: inline-flex;
}

ul a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

ul a:hover {
  color: #ff9800;
}

.intro {
  margin-top: 100px;
}

img {
  height: 250px;
  width: 250px;
}

.mobile-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 200px;
  margin-top: 120px;
}

.mobile-categories a {
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
}

.mobile-categories img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.reviews {
  margin-top: 74px;
}

footer {
  background-color: #080808;
  padding: 15px 0;
  color: #ccc;
  text-align: center;
  font-size: 1em;
  margin: -8px;
}

footer img {
  width: 100px;
  height: 100px;
}

footer p {
  margin: 5px 0;
  font-size: 0.9em;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: #ff9800;
}

footer .social-icons {
  margin: 10px 0;
}

footer .social-icons a {
  margin: 0 10px;
  font-size: 1.3em;
}

footer .copyright {
  color: #777;
  font-size: 0.8em;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-item {
  text-align: center;
  flex: 1;
}
