body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  background: #000;
  box-shadow: 0 -8px 26px #ff9800;
  color: #fff;
}

.header.hidden {
  transform: translateY(-100%);
}

.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transition: transform 0.3s ease;
  border-radius: 50%;
}

.logo-container:hover .logo-image {
  transform: rotate(360deg);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff9800;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  border-radius: 5px;
  margin: 20px;
}

.nav-links a:hover {
  color: #ff9800;
}

.intro {
  margin-top: 120px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  font-size: 1.1rem;
  color: #555;
}

.mobile-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 40px auto;
  padding: 20px;
  max-width: 1200px;
}

.mobile-categories article {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  width: 220px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mobile-categories article:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.mobile-categories img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-bottom: 10px;
}

.mobile-categories p {
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
}

.mobile-categories article a {
  text-decoration: none;
}

.reviews {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
  font-size: 1.1rem;
  color: #555;
}

footer {
  background-color: #080808;
  padding: 15px 0;
  color: #ccc;
  text-align: center;
  font-size: 1rem;
  margin: -8px;
}

footer img {
  width: 100px;
  height: 100px;
}

footer p {
  margin: 5px 0;
  font-size: 0.875rem;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: #ff9800;
}

footer .social-icons {
  margin: 10px 0;
}

footer .social-icons a {
  margin: 0 10px;
  font-size: 1.125rem;
}

footer .copyright {
  color: #777;
  font-size: 0.75rem;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-item {
  text-align: center;
  flex: 1;
}

button,
a.button {
  display: inline-block;
  background-color: #ff9800;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover,
a.button:hover {
  background-color: #e67e22;
  transform: translateY(-2px);
}
